.job-container {
  max-width: 800px;
  margin: auto;
  margin-top: 5%;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.available-skills {
  margin-top: 20px;
}

.skill-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-button button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.skill-button button.add {
  background-color: #28a745;
  color: white;
}

.skill-button button.remove {
  background-color: #dc3545;
  color: white;
}

.skill-button button:hover {
  opacity: 0.8;
}

textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: none;
  font-size: 0.9em;
  line-height: 1.5;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.recommendation-section {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.selected-skills {
  margin-bottom: 1em;
}

.skill-tags {
  margin-bottom: 1em;
}

.skill-tag {
  display: inline-block;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em 1em;
  margin: 0.2em;
  font-size: 0.9em;
  position: relative;
}

.remove-skill {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 2.5 em;
  margin-right: -12%;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}
